@import 'tailwindcss';
@import 'tw-animate-css';

/* Root Variables */
:root {
  /* Brand Colors */
  --brand: rgb(20, 184, 166);
  --brand-lighter: rgb(46, 210, 192);

  /* Layout */
  --radius: 0.625rem;

  /* Theme Colors - Light */
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist);
}

@theme {
  --color-brand: var(--brand);
  --color-brand-lighter: var(--brand-lighter);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --animate-bounce: bounce 0.5s alternate cubic-bezier(0.95, 0.05, 0.795, 0.035)
    infinite;

  @keyframes bounce {
    from {
      transform: translateY(10px);
    }
    to {
      transform: translateY(0);
    }
  }
}

/* Custom Utilities */

@utility contactIcon {
  @apply text-brand h-5 w-5;
}

@utility contactInput {
  @apply outline-hidden bg-neutral-200/30 rounded-xs border-b px-6 py-4 border-[#242424] text-black placeholder-gray-500 transition-all
      focus:border-brand focus:text-black hover:border-brand dark:text-white dark:placeholder-gray-50;
}

@utility contactButton {
  @apply transition duration-150 bg-brand border border-brand hover:text-white hover:bg-brand-lighter py-5 px-10 rounded-sm text-white font-semibold;
}

@utility navbarButton {
  @apply transition block lg:inline-block text-neutral-900 dark:text-neutral-100 cursor-pointer
    after:content-[''] after:block after:w-[0px] after:h-[3px] after:bg-brand after:transition-[100%];

  &:hover::after {
    @apply w-full;
  }
}

@utility timelineVertical {
  @apply before:absolute md:before:content-[''] md:before:absolute before:top-0 before:left-[30px] md:before:left-2/4 before:w-[4px] before:h-full before:bg-brand before:translate-x-[-50%];
}

@utility ribbon {
  @apply before:content-[''] before:absolute before:border-8 before:border-transparent before:top-6 before:w-0 before:h-0;

  .timeline-item:nth-child(odd) & {
    @apply before:right-full before:border-r-slate-200 md:before:border-r-0 md:before:left-full md:before:border-l-slate-200;
  }

  .timeline-item:nth-child(even) & {
    @apply before:right-full before:border-r-slate-200;
  }
}

@utility timeline-item {
  &:nth-child(odd) .date {
    @apply left-[145px] md:left-[130%];
  }

  &:nth-child(even) .date {
    @apply left-[145px] md:left-[-130%] md:text-right;
  }

  &:nth-child(odd) .image {
    @apply mr-4 md:mr-0 md:ml-4;
  }

  &:nth-child(even) .image {
    @apply mr-4;
  }

  &:nth-child(odd) .ribbon {
    @apply before:right-full before:border-r-slate-200 md:before:border-r-0 md:before:left-full md:before:border-l-slate-200;
  }

  &:nth-child(even) .ribbon {
    @apply before:right-full before:border-r-slate-200;
  }
}

@utility date {
  .timeline-item:nth-child(odd) & {
    @apply left-[145px] md:left-[130%];
  }

  .timeline-item:nth-child(even) & {
    @apply left-[145px] md:left-[-130%] md:text-right;
  }
}

@utility image {
  .timeline-item:nth-child(odd) & {
    @apply mr-4 md:mr-0 md:ml-4;
  }

  .timeline-item:nth-child(even) & {
    @apply mr-4;
  }
}

@utility buttonResume {
  @apply before:content-[''] before:absolute before:w-[110%] before:h-[350%] before:bg-linear-to-r before:from-teal-300 before:to-teal-700
    after:content-['Download_Resume'] after:absolute after:flex after:items-center after:justify-center
    after:text-xl after:text-black after:w-[96%] after:h-[86%] after:bg-white after:font-semibold;

  &::after {
    border-radius: 0.4em;
  }

  &:hover::before {
    @apply animate-pulse;
  }
}

@layer base {
  body {
    @apply font-sans bg-background text-foreground;
  }
}
