@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand: var(--brand);
  --color-brand-lighter: var(--brand-lighter);

  --animate-bounce: bounce 0.5s alternate cubic-bezier(0.95, 0.05, 0.795, 0.035)
    infinite;

  @keyframes bounce {
    from {
      transform: translateY(10px);
    }
    to {
      transform: translateY(0);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@utility contactIcon {
  @apply text-brand h-5 w-5;
}

@utility contactInput {
  @apply outline-hidden bg-neutral-200/30 rounded-xs border-b px-6 py-4 border-[#242424] text-black placeholder-gray-500 transition-all
      focus:border-brand focus:text-black hover:border-brand dark:text-white dark:placeholder-gray-50;
}

@utility contactButton {
  @apply transition duration-150 bg-brand border border-brand hover:text-white hover:bg-brand-lighter py-5 px-10 rounded-sm text-white font-semibold;
}

@utility navbarButton {
  @apply transition block lg:inline-block text-neutral-900 dark:text-neutral-100 cursor-pointer
    after:content-[''] after:block after:w-[0px] after:h-[3px] after:bg-brand after:transition-[100%];

  &:hover::after {
    @apply w-full;
  }
}

@utility timelineVertical {
  @apply before:absolute md:before:content-[''] md:before:absolute before:top-0 before:left-[30px] md:before:left-2/4 before:w-[4px] before:h-full before:bg-brand before:translate-x-[-50%];
}

@utility ribbon {
  @apply before:content-[''] before:absolute before:border-8 before:border-transparent before:top-6 before:w-0 before:h-0;

  .timeline-item:nth-child(odd) & {
    @apply before:right-full before:border-r-slate-200 md:before:border-r-0 md:before:left-full md:before:border-l-slate-200;
  }

  .timeline-item:nth-child(even) & {
    @apply before:right-full before:border-r-slate-200;
  }
}

@utility timeline-item {
  &:nth-child(odd) .date {
    @apply left-[145px] md:left-[130%];
  }

  &:nth-child(even) .date {
    @apply left-[145px] md:left-[-130%] md:text-right;
  }

  &:nth-child(odd) .image {
    @apply mr-4 md:mr-0 md:ml-4;
  }

  &:nth-child(even) .image {
    @apply mr-4;
  }

  &:nth-child(odd) .ribbon {
    @apply before:right-full before:border-r-slate-200 md:before:border-r-0 md:before:left-full md:before:border-l-slate-200;
  }

  &:nth-child(even) .ribbon {
    @apply before:right-full before:border-r-slate-200;
  }
}

@utility date {
  .timeline-item:nth-child(odd) & {
    @apply left-[145px] md:left-[130%];
  }

  .timeline-item:nth-child(even) & {
    @apply left-[145px] md:left-[-130%] md:text-right;
  }
}

@utility image {
  .timeline-item:nth-child(odd) & {
    @apply mr-4 md:mr-0 md:ml-4;
  }

  .timeline-item:nth-child(even) & {
    @apply mr-4;
  }
}

@utility buttonResume {
  @apply before:content-[''] before:absolute before:w-[110%] before:h-[350%] before:bg-linear-to-r before:from-teal-300 before:to-teal-700
    after:content-['Download_Resume'] after:absolute after:flex after:items-center after:justify-center
    after:text-xl after:text-black after:w-[96%] after:h-[86%] after:bg-white after:font-semibold;

  &::after {
    border-radius: 0.4em;
  }

  &:hover::before {
    @apply animate-pulse;
  }
}

@layer utilities {
  :root {
    --brand: rgb(20, 184, 166);
    --brand-lighter: rgb(46, 210, 192);
    --bg-brand: rgb(20, 184, 166);
    --bg-brand-lighter: rgb(46, 210, 192);
  }
}

@layer components {
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

/*
  ---break---
*/

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/*
  ---break---
*/

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/*
  ---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
